<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./res/style/style.css" />
    <link
      href="ContatoEstilo.css"
      rel="stylesheet"
      type="text/css"
      media="print"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" href="../res/style/style.css" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <form action="/submit-summons" method="get" autocomplete="off">
      <h1 align="center">Dados Processuais</h1>
      <br />
      <div class="parent">
        <div class="conteudo">
          <label for="conteúdo">Nota de expediente:</label>
          <br /><br />
          <textarea
            id="conteudo"
            name="conteudo"
            rows="45"
            cols="50"
            align="center"
          >
{$summons.conteudo}</textarea
          >
        </div>

        <div class="dados">
          <label for="estrutura">Estrutura:</label>
          <select name="estrutura" id="estrutura">
            <option value="branco"></option>
            <option value="federal">Federal</option>
            <option value="estadual">Estadual</option>
          </select>
          <br /><br />
          <label for="n_processo">Número CNJ:</label>
          <input type="text" id="n_cnj" name="n_cnj" size="20" maxlength="20" />
          <br /><br />
          <label for="n_processo">Número do processo:</label>
          <input type="text" id="n_processo" name="n_processo" />
          <br /><br />
          <label for="natureza">Natureza:</label>
          <select name="natureza" id="natureza">
            {loop="$natureza"}
            <option value="{$value.nat_descricao}">
              {$value.nat_descricao}
            </option>
            {/loop}
          </select>
          <br /><br />
          <label name="vara">Vara:</label>
          <input type="text" id="vara" name="vara" maxlength="2" size="3" />
          <br /><br />
          <label for="vara">Estado:</label>
          <select name="estado" id="estado" onchange="buscaCidades(this.value)">
            <option value="branco"></option>
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AM">AM</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PR">PR</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RS">RS</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SC">SC</option>
            <option value="SP">SP</option>
            <option value="SE">SE</option>
            <option value="TO">TO</option>
          </select>
          <br /><br />
          <label for="vara">Comarca:</label>
          <select id="cidade" name="cidade"></select>
          <br /><br />
          <label for="juiz">Juiz:</label>
          <input type="text" id="juiz" name="juiz" maxlength="30" size="30" />
          <br /><br />
          <div id="autor">
            <div id="TextBoxesGroup">
              <div id="TextBoxDiv1">
                <label>Autor: </label><input type="textbox" id="autor" />
              </div>
            </div>
            <input type="button" value="Adicionar" id="addAutor" />
            <input type="button" value="Remover" id="removeAutor" />
          </div>
          <br /><br />
          <div class="input_fields_wrap">
            <button class="add_field_button">Adicionar</button>
            <br /><br />
            <div>
              <label for="advautor">Advogado:</label
              ><input type="text" name="mytext[]" /><br /><br />
              <label for="oabadvautor">OAB:</label>
              <input type="text name=oabadvautor" /><br /><br />
              <label for="estoabautor">Estado:</label>
              <select name="estoabautor" id="estoabautor">
                <option value="branco"></option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
              </select>
            </div>
          </div>
          <br /><br />
          <div id="reu">
            <div id="TextGroup">
              <div id="TextDiv1">
                <label>Réu: </label><input type="textbox" id="reu" />
              </div>
            </div>
            <input type="button" value="Adicionar" id="addReu" />
            <input type="button" value="Remover" id="removeReu" />
          </div>
          <br /><br />
          <div class="input_fields_wrapA">
            <button class="add_field_buttonA">Adicionar</button>
            <br /><br />
            <div>
              <label for="advreu">Advogado:</label
              ><input type="text" name="mytext[]" /><br /><br />
              <label for="oabadvreu">OAB:</label>
              <input type="text name=oabadvreu" /><br /><br />
              <label for="estoabreu">Estado:</label>
              <select name="estoabreu" id="estoabreu">
                <option value="branco"></option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
              </select>
            </div>
          </div>
          <br /><br />

          <label for="recurso">Tipo de decisão:</label>
          <select name="recurso" id="recurso">
            {loop="$decisao_tipo"}
            <option value="{$value.dec_descricao}">
              {$value.dec_descricao}
            </option>
            {/loop}
          </select>
          <br /><br />
          <label for="tipo_peca">Peça a produzir:</label>
          <select name="recurso" id="recurso">
            {loop="$peca_produzir"}
            <option value="{$value.pec_descricao}">
              {$value.pec_descricao}
            </option>
            {/loop}
          </select>
          <br /><br />
          <label for="inicio_prazo">Início do Prazo:</label>
          <input
            type="date"
            id="datepicker"
            name="inicio"
            size="8"
            maxlength="10"
          />
          <br /><br />
          <label for="dias_prazo">Prazo:</label>
          <input
            type="text"
            id="dias_prazo"
            name="dias_prazo"
            size="2"
            maxlength="2"
          />
          <input type="radio" id="corridos" name="dias" value="corridos" />
          Dias corridos
          <input type="radio" id="uteis" name="dias" value="uteis" />
          Dias úteis
          <br /><br />
          <label for="prazo_final">Fim do prazo:</label>
          <input
            type="date"
            id="datepicker"
            name="fim"
            size="8"
            maxlength="10"
          />
          <br /><br />
          <label for="custas">Há custas?</label>
          <input
            type="radio"
            onclick="show1();"
            name="yesno"
            id="yesCheck"
            value="sim"
          />Sim
          <input
            type="radio"
            onclick="show2();"
            name="yesno"
            id="noCheck"
            value="nao"
          />Não <br /><br />
          <div class="hide" id="div1">
            <label for="custas" class>Valor a pagar:</label>
            <input type="text" id="custas" name="custas" />
          </div>
          <div class="hide" id="div2"></div>
        </div>
      </div>
      <div class="btn" align="center">
        <input type="reset" name="b1" value="Limpar" />
        <input type="submit" name="b2" value="Enviar" />
      </div>
    </form>
    <script src="./res/script/script2.js"></script>
  </body>
</html>
