body {
  margin: 10px;
}

.parent {
  white-space: nowrap;
  width: 90%;
}

.parent > div {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 50%;
}

div.conteudo {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

div.dados {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 47%;
}

.hide {
  display: none;
}

label {
  display: inline-block;
  width: 170px;
}
